@use "./variables/colors" as *;
@use "./variables/fonts";
@use "./modules/global";
@use "./modules/footer";

////3meltellon import mn l file yalle msammeh global
// body{
//     margin: 0px;
// }
// .section {
//     height: 100vh;
// }

header {
  // background-image: url("../../images/hotel_img1.png");
  background-size: 100% 100%;
  a {
    text-decoration: none;
    display: block;
    padding: 13px 16px;
    color: white;
  }
  .navbar {
    // overflow: hidden;
    // background-color: rgb(121,120,120,0.8);
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    overflow: hidden;
    background-color: rgba(121, 120, 120, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;

    //
    @media screen and (max-width: 980px) {
      .hamburger-icon {
        margin-right: 14px;
        display: block !important;
      }
      .menu {
        display: none !important;
      }
    }
    //
    .logo {
      font-family: Goudy Stout, sans-serif;
      font-size: 0.9rem;
      margin: 0px;
      display: inline-block;
    }
    .menu {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      display: flex;
      align-items: center;
      margin-right: 6px;
      height: 46px;
      // .settings:hover{
      //     background-color: rgba(121, 120, 120, 0) !important;
      // }

      li {
        height: 100%;
        align-items: baseline;
        display: flex;
        align-items: center;
      }
      li:hover {
        background-color: #6a6a6a;
      }
      li:last-child:hover {
        background-color: rgb(
          121,
          120,
          120,
          0
        ); // opacity/alfa = 0 ya3ne ma bebayen llon
      }
      .book_btn {
        background-color: $blue;
        border-radius: 32px;
        border-width: 0px;
        padding: 10px;
        color: white;
        cursor: pointer;
        a {
          padding: 0px 0px;
        }
      }
    }
    .hamburger-icon {
      margin-right: 14px;
      display: none;
    }
  }
  .circles_group {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    svg {
      padding: 10px;
      padding-bottom: 20px;
      .circle {
        cursor: pointer;
        // transition: 2;
      }
    }
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.div_ofsidebar {
  position: fixed;
  top: 0px;
  display: none;
  z-index: 4;
  left: 0px;
  right: 0px;
  bottom: 0px;
  .before_sidebar {
    width: 35%;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #1e1e1e;
    opacity: 65%;
  }
  .sidebar {
    background-color: #797878;
    width: 65%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    top: 0px;
    .x-icon {
      display: flex;
      justify-content: flex-end;
      padding: 8px 16px;
    }
    .sidebar_menu {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      li {
        width: 100%;
        align-items: baseline;
        display: flex;
        align-items: center;
        a {
          width: inherit;
          font-size: x-large;
          text-decoration: none;
          display: block;
          padding: 13px 16px;
          color: white;
        }
      }
      li:hover {
        background-color: #6a6a6a;
        //#6a6a6a
      }
    }
  }
}
main {
  //////////////////////////////////////////////media queries
  ///
  //////////////992px
  @media screen and (max-width: 992px) {
    .section1 {
      gap: 40px;
      .body_txt {
        width: 75% !important;
      }
    }
    .section2,
    .section3,
    .section4 {
      flex-direction: column !important;
      justify-content: center !important;
      gap: 60px !important;
      .texts {
        width: 85% !important;
        height: 43% !important;
        justify-content: flex-start !important;
        gap: 50px;
      }
      .image1 {
        width: 85% !important;
        height: 42% !important;
      }
    }
  }
  ///////////////////
  ///
  ///
  ////////////////////////
  @media screen and (max-width: 600px) {
    .section2,
    .section3,
    .section4 {
      .texts {
        .body_txt {
          font-size: var(--font3) !important;
        }
      }
    }
  }
  ///////////////////////
  ///
  ///
  /////////////390px
  @media screen and (max-width: 390px) {
    .section1 {
      gap: unset !important;
    }
    .section2,
    .section3,
    .section4 {
      .texts {
        gap: 28px !important;
      }
    }
  }
  //////////////////
  ///
  //////////////////////////////////////////////////////////
  //
  //
  .section2,
  .section4 {
    background-color: #f9d18e;
  }
  .section2,
  .section3,
  .section4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    .texts {
      width: 40%;
      height: 85%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 55px;
      .title {
        // font-size: var(--font1);
        font-size: var(--font2);
        font-weight: bold;
        margin: 0px;
      }
      .body_txt {
        font-size: var(--font3);
        margin: 0px;
      }
      .btn {
        padding: 5px;
        background-color: #0176ff;
        color: white;
        font-size: var(--font5);
        cursor: pointer;
        margin-top: 1em;
        margin-bottom: 1em;
        margin: 0px;
      }
    }
    .image1 {
      background-size: 100% 100%;
      width: 40%;
      height: 70%;
    }
  }
  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 912px) {
      gap: 40px;
    }
    a {
      text-decoration: none;
      color: white;
    }
    .title {
      font-family: Goudy Stout, sans-serif;
      font-size: var(--font1);
      text-align: center;
      margin: 1rem;
    }
    .body_txt {
      font-size: var(--font2);
      text-align: center;
      width: 85%;
      /* margin: 1rem; */
    }
    .btn {
      padding: 5px;
      background-color: #0176ff;
      color: white;
      font-size: var(--font4);
      cursor: pointer;
      // box-shadow: inset -3px -3px 4px rgba(0, 0, 0, 0.5);
      //margin: 1rem;
    }
  }
  .section2 {
    .image1 {
      background-image: url("../../images/rooms/room_photo.png");
    }
  }
  .section3 {
    flex-direction: row-reverse;
    .image1 {
      background-image: url("../../images/restaurants/restaurant2_photo.png");
    }
  }
  .section4 {
    .image1 {
      background-image: url("../../images/luxary/luxury_photo.png");
    }
  }
}
